// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway&display=swap');


//Sizings
$textSm: 1em;
$textMd: 1.5em;
$textLg: 2em;


//Detalles Padding
$PaddingTitulos: 40px;
$PaddingParrafos: 20px;

